__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
*.pkl
*.joblib
.vscode/
.idea/
.streamlit/
*.html
*.md
!README.md
!Project_Report.md
!Project_Report.html
